OnlineMovieRatingSystemClient/OnlineMovieRatingSystemClient/Connected Services/ServiceReference1/MovieRating.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieRating" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/MovieSystem?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/MovieSystem?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/MovieSystem?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineMovieRatingSystem.Model" />
      <xsd:import schemaLocation="http://localhost:8000/MovieSystem?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieRating_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowUser" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_Verify_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Verify_User" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_Verify_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Verify_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_AddRating_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRating" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_AddRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_DeleteRating_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRating" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_DeleteRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_UpdateRating_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRating" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_UpdateRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowRating" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_short_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowRating_short" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_short_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowRating_shortResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_Persional_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowRating_Persional" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_Persional_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowRating_PersionalResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowRating_Log" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_ShowRating_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowRating_LogResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_getMovie_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:getMovie_Name" />
  </wsdl:message>
  <wsdl:message name="IMovieRating_getMovie_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMovie_NameResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieRating">
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/AddMovie" message="tns:IMovieRating_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/AddMovieResponse" message="tns:IMovieRating_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/UpdateMovie" message="tns:IMovieRating_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/UpdateMovieResponse" message="tns:IMovieRating_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/DeleteMovie" message="tns:IMovieRating_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/DeleteMovieResponse" message="tns:IMovieRating_DeleteMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/ShowMovie" message="tns:IMovieRating_ShowMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/ShowMovieResponse" message="tns:IMovieRating_ShowMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/AddUser" message="tns:IMovieRating_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/AddUserResponse" message="tns:IMovieRating_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/DeleteUser" message="tns:IMovieRating_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/DeleteUserResponse" message="tns:IMovieRating_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/UpdateUser" message="tns:IMovieRating_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/UpdateUserResponse" message="tns:IMovieRating_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/ShowUser" message="tns:IMovieRating_ShowUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/ShowUserResponse" message="tns:IMovieRating_ShowUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Verify_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/Verify_User" message="tns:IMovieRating_Verify_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/Verify_UserResponse" message="tns:IMovieRating_Verify_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/AddRating" message="tns:IMovieRating_AddRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/AddRatingResponse" message="tns:IMovieRating_AddRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/DeleteRating" message="tns:IMovieRating_DeleteRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/DeleteRatingResponse" message="tns:IMovieRating_DeleteRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/UpdateRating" message="tns:IMovieRating_UpdateRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/UpdateRatingResponse" message="tns:IMovieRating_UpdateRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/ShowRating" message="tns:IMovieRating_ShowRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/ShowRatingResponse" message="tns:IMovieRating_ShowRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowRating_short">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/ShowRating_short" message="tns:IMovieRating_ShowRating_short_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/ShowRating_shortResponse" message="tns:IMovieRating_ShowRating_short_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowRating_Persional">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/ShowRating_Persional" message="tns:IMovieRating_ShowRating_Persional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/ShowRating_PersionalResponse" message="tns:IMovieRating_ShowRating_Persional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowRating_Log">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/ShowRating_Log" message="tns:IMovieRating_ShowRating_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/ShowRating_LogResponse" message="tns:IMovieRating_ShowRating_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMovie_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRating/getMovie_Name" message="tns:IMovieRating_getMovie_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRating/getMovie_NameResponse" message="tns:IMovieRating_getMovie_Name_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieRating" type="tns:IMovieRating">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/ShowMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowUser">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/ShowUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_User">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/Verify_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/AddRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/DeleteRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/UpdateRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/ShowRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating_short">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/ShowRating_short" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating_Persional">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/ShowRating_Persional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating_Log">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/ShowRating_Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovie_Name">
      <soap:operation soapAction="http://tempuri.org/IMovieRating/getMovie_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieRating">
    <wsdl:port name="BasicHttpBinding_IMovieRating" binding="tns:BasicHttpBinding_IMovieRating">
      <soap:address location="http://localhost:8000/MovieSystem/MovieRating" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>